<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>YoutubeDL</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body ng-app="ytdl">
    <div class="yt-app">

      <div class="yt-form" link-form>
        <div class="yt-form-input">
          <input type="text" class="input-control" ng-model="video.url" />
        </div>
        <div class="yt-form-button">
          <button ng-click="getInfo()">Load</button>
        </div>
        <!-- <pre>{{video}}</pre> -->
      </div>
      <div yt-error class="yt-error" ng-show="video.error"></div>
      <div yt-loading class="yt-loading" ng-show="video.loading"></div>
      <div yt-info class="yt-info" ng-show="video.info!=null"></div>
      <div yt-format-list class="yt-format-list" ng-show="video.info!=null"></div>
      <div yt-download class="yt-download" ng-show="video.info!=null"></div>
    </div>
    <!-- <pre>{{video.options}}</pre> -->
    <script src="./lib/fontawesome/js/fontawesome.min.js"></script>
    <script src="./lib/fontawesome/js/fa-solid.min.js"></script>
    <script>
      // You can also require other files to run in this process
      require('./renderer.js')
    </script>
  </body>
</html>
